#Introduction to Python Programming 
exercise1

Quiz: readable_timedelta
Write a function named readable_timedelta. The function should take one argument, an integer days, and return a string that says how many weeks and days that is. For example, calling the function and printing the result like this:

In [ ]:
#quiz:
    
def readable_timedelta(days):
    # use integer division to get the number of weeks
    weeks = ?
    # use % to get the number of days that remain
    remainder = ?
    return "{} week(s) and {} day(s).".format(weeks, remainder)

# test your function
print(readable_timedelta(10))

In [ ]:
#quiz:

#Write a Python function to sum all the numbers in a list and return it as total.
quiz_list = [8, 2, 3, 0, 7]

In [ ]:
#answer

def sum(numbers):
    ?
    ?
    ?
    return total

In [ ]:
quiz_list = [8, 2, 3, 0, 7]
print(sum(quiz_list))

#pyhton for data analyses
pandas packages,

In [ ]:
import pandas as pd

In [ ]:
#df stands for dataframe
#read the csv file and put it in a dataframe
df = pd.read_csv('exercise_file.csv')

In [ ]:
#print the head of the dataframe

?

In [ ]:
#print the tail of the dataframe
?

In [ ]:
#print all the columns of the dataframe
?

In [ ]:
#the first item at 'SEK_IN_SNACKS'
df['SEK_IN_SNACKS'][0]

In [ ]:
#what does the following line return?
?
type(df['SEK_IN_SNACKS'][1])

In [ ]:
df['traffic_source_level_1'][10]

In [ ]:
#we can choose only a few columns of a dataframe: choose the head of country_id','traffic_source_level_1','SEK_IN_DRINKS'
df[[?,?,?]].head()

quiz :

Get the sum of SEK_IN_SNACKS group by countries and 'traffic_source_level_1'
Get the countries, and then channels and then the sum of kycs

In [ ]:
?

In [ ]:
#group by country and then return an average of values in each column with numeric data
df.groupby([?]).mean()

In [ ]:
##group by country and then return an sum of values only in SEK_IN_FOOD
df.groupby([?])[?].?()

In [ ]:
df.groupby(['country_id','traffic_source_level_1' ])['SEK_IN_SNACKS'].sum()

now, same exercise with SEK_IN_FOOD.
what is odd about it? do you know why?
lets try and see the type for SEK_IN_FOOD:

type(df['SEK_IN_FOOD'][0])
it is stgring, but we wanted it to be integer or float. a sort of number.
so now what?

In [ ]:
df['SEK_IN_FOOD'][0]

In [ ]:
type(df['SEK_IN_FOOD'][0])

In [ ]:
df['SEK_IN_FOOD'][0].replace(",", ".")

In [ ]:
#what is the length of column SEK_IN_FOOD
?(df['SEK_IN_FOOD'])

we replaced one of the elements, but we need to change the whole dataset.
lets be more fancy, instead of a for loop we will use list Comprehension

In [ ]:
df['SEK_IN_FOOD'] = [df['SEK_IN_FOOD'][i].?(",", ".") for i in range(len(df['SEK_IN_FOOD']))]

In [ ]:
#pandas.Series.astype

In [ ]:
df['SEK_IN_FOOD'] = df['SEK_IN_FOOD'].astype(float)

In [ ]:
x = df[['country_id','timestamp_month','traffic_source_level_1','SEK_IN_FOOD']].groupby(['country_id','traffic_source_level_1' ])['SEK_IN_FOOD'].sum()

In [ ]:
type(x)

In [ ]:
df_sum = df[['country_id','timestamp_month','traffic_source_level_1','SEK_IN_FOOD','SEK_IN_SNACKS']].groupby(['country_id','traffic_source_level_1' ])['SEK_IN_FOOD','SEK_IN_SNACKS'].sum()

In [ ]:
#let's create a a new column and calculate the rate of snacks over food
df_sum['food_snacks_rate'] = df_sum['SEK_IN_FOOD']/df_sum['SEK_IN_SNACKS']

In [ ]:
#let's create a a new column and calculate the total sum of snacks over food
?